* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", serif;
}

body {
    background-color: #333333;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

header {
    padding: 5px 2%;
    background-color: #1a1a1a;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #868686;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s;
}

header a:hover {
    color: #ffffff;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav li {
    display: inline-block;
    padding: 0 40px;
}

header .btn-contato button {
    padding: 5px 25px;
    font-size: 18px;
    font-weight: 700;
    background-color: #0077B9;
    color: #ffffff;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

header .btn-contato button:hover {
    box-shadow: 0px 0px 5px #000000;
}

header .logo img{
    height: 60px;
}

