* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", serif;
}

body {
    background-color: #333333;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

header {
    background-color: #1a1a1a;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

header a {
    color: #868686;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s;
}

.menu a:hover {
    color: #ffffff;
}

header nav ul{
    list-style-type: none;
}

header nav li {
    display: inline-block;
    padding: 0 25px;
}

header .logo img{
    height: 50px;
}

.sobre {
    padding: 50px 20px;
    background-color: #333333;
    text-align: justify;
}

.sobre .container {
    max-width: 1000px;
    margin: 0 auto;
}

.sobre h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #f1f1f1;
}

.sobre p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #b9b9b9;
    margin-bottom: 15px;
}



